@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

::placeholder {
  text-align: center;
}
