.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: auto;

  form {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;

    .form-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 5px;
      width: 100%;

      label {
        font-size: 18px;
        text-align: center;
        margin-bottom: 5px;
      }
      textarea {
        border: 1px solid #333;
        border-radius: 10px;
        text-align: center;
      }
      input {
        border: 1px solid #333;
        text-align: center;
        border-radius: 10px;
      }
    }

    button {
      background: #f10404;
      color: white;
      padding: 5px 10px;
      font-size: 18px;
      font-weight: 500;
      border-radius: 10px;
    }
    button:hover {
      background: green;
    }
  }
}
